*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 전체 선택자 - 태그 요소들의 마진과 패딩을 초기화한다. */
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 100%;
    /* width: 978px; */
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    /* 넓이(width)는 아예 생략하거나, 978px(테두리와 패딩을 제외한 값을 직접 입력) */
    
}
section{
    width: 620px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
}
aside{
    width: 320px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: right;
    background: #eee;
}
footer{
    width: 100%;
    /* width: 978px; */
    border: 1px solid #ccc;
    padding: 10px;
    clear: both;
}